*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.container {
    margin: 20px auto;
    background-color: papayawhip;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;

    justify-content: space-between;

}

.div-column {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.div-column1 {
    height: 100%;
    justify-content: start;
    gap: 100px;
}

.div-column2 {
    height: 100%;
    justify-content: space-between;

}

.div-column3 {
    height: 100%;
    justify-content: start;
    gap: 150px;

}

.box {

    background-color: blueviolet;
    border: 3px solid black;
    box-shadow: 3px 3px 10px black;
    height: 200px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

.box1 {


}

.box2 {
    flex-basis: 50px;


}

.box3, .box4 {
    flex-basis: 100px;


}


.box5 {
flex-basis: 150px;
}

.box6 {
    flex-basis: 90px;

}